<footer class="site-footer">
  {% if site.github.is_project_page %}
    <!-- <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span> -->
    <span class="site-footer-owner"><a href="{{ site.baseurl }}">Curriculeon</a> is maintained by <a href="https://github.com/Git-Leon">Git-Leon</a>.</span>    
    <span class="site-footer-discord">Enroll in the <a href="https://bit.ly/curriculeon-enroll-now">online course</a> for <u>live help</u>!</span><br/>
    <span class="site-footer-graduates">View <a href="{{ site.baseurl }}/graduate-certificates/">graduate list</a><u></u>.</span>
  {% endif %}
</footer>